<h1 class="mb-4"><i class="fas fa-feather-alt"></i> <strong>Ye Olde Potion Shop</strong></h1>
<div class="d-flex justify-content-center">
  <div class="cards-grid mt-5">
    <% @cocktails.each do |cocktail| %>
      <div class="card" style="width: 18rem;">
        <%= cl_image_tag cocktail.photo.key, class: "card-img-top", style: "height: 200px;"%>
        <div class="card-body p-3 d-flex flex-column justify-content-between">
          <h2 class="card-title"><strong><%= cocktail.name %></strong></h2>
          <p><%= "â­" * cocktail.rating %></p>
          <p class="card-text" style="color:black;"><%= cocktail.description %></p>
          <%= link_to "Discover More", cocktail_path(cocktail), class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h2 class="mt-5">Blend Your Own</h2>
<%= simple_form_for(@blank_cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :ingredients, collection: Ingredient.all, input_html: { multiple: true }  %>
  <%= f.input :photo, as: :file %>
  <%= f.submit class:"btn btn-danger" %>
<% end %>
