<h1><%= @cocktail.name  %></h1>

<div class="cocktail-show-card">
  <% asset_url = asset_url "cocktails/#{@cocktail.image}" %>
  <% url_text =  %>
  <%= content_tag :div, "", class: "potion-img", style: 'background-image: url("' + asset_url + '");' %>
  <div class="p-4 cocktail-show-card-description-container">
    <h2><%= @cocktail.name %></h2>
    <p><%= "â­" * @cocktail.rating %></p>
    <p><%= @cocktail.description %></p>
    <div class="btn btn-danger p-3">Add to Cart</div>
  </div>
</div>
